<!DOCTYPE html>
<html lang="cs-cz">
	<head>
		<meta charset="utf-8" />
		<title>MassMailer</title>
	</head>
	<body>
		{% if username %}
		<form action="sendmails" method="POST">
			<p>Users</p>
			<textarea name="users" rows="8" cols="80"></textarea>

			<p>Subject</p>
			<input type="text" name="subject" value="">

			<p>Mail</p>
			<textarea name="text" rows="8" cols="80"></textarea>

			<p>Wiki</p>
			<input type="text" name="wiki" value="cs.wikipedia.org"><br>

			<input type="submit" value="Send">
		</form>
		{% else %}
		<h1>Please, <a href="login">log in</a></h1>
		{% endif %}
	</body>
</html>
