<!DOCTYPE html>
<html lang="cs-cz">
	<head>
		<meta charset="utf-8" />
		<title>MassMailer</title>
		<!-- External CSS -->
		<link rel="stylesheet" href="{{config.STATIC_URL}}material-icons.css">
		<link rel="stylesheet" href="{{config.STATIC_URL}}sweetalert.min.css">
		<link rel="stylesheet" href="{{config.STATIC_URL}}materialize.min.css">

		<!-- My CSS -->
		<link rel="stylesheet" href="{{config.STATIC_URL}}stylesheet.css">

		<!-- External JS -->
		<script src="{{config.STATIC_URL}}jquery.min.js" charset="utf-8"></script>
		<script src="{{config.STATIC_URL}}sweetalert.min.js"></script>
	</head>
	<body>
		{% if username %}
		<form action="sendmails" method="POST">
			<p>Users</p>
			<textarea name="users" rows="8" cols="80"></textarea>

			<p>Subject</p>
			<input type="text" name="subject" value="">

			<p>Mail</p>
			<textarea name="text" rows="8" cols="80"></textarea>

			<p>Wiki</p>
			<input type="text" name="wiki" value="cs.wikipedia.org"><br>

			<label for="ccme">Send me copy of all mails</label>
			<input type="checkbox" name="ccme" id="ccme" checked><br>

			<input type="submit" value="Send">
		</form>
		{% else %}
		<h1>Please, <a href="login">log in</a></h1>
		{% endif %}
	</body>
</html>
